
{{#each errors}}
  <div class="alert alert-danger alert-dismissable fade show" role="alert">
    <strong>Error!</strong> {{ text }}
    <button class="close" data-dismiss="alert" data-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}

<div class="card card-body">
  <h3>Video Idea</h3>
  <form action="/ideas" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" class="form-control" value="{{title}}" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea name="details" id="details" class="form-control" required>{{ details }}</textarea>
    </div>
     <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>