
{{#each errors}}
  <div class="alert alert-danger alert-dismissable fade show" role="alert">
    <strong>Error!</strong> {{ text }}
    <button class="close" data-dismiss="alert" data-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}

<div class="card card-body">
  <h3>Edit Video Idea</h3>
  <form action="/ideas/{{idea.id}}?_method=PUT" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title"
        class="form-control" value="{{idea.title}}" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea name="details" id="details" class="form-control" required>{{ idea.details }}</textarea>
    </div>
    <input type="hidden" name="_method" value="PUT">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>